.playerCon {
    border: 1px solid #808089;
    border-radius: 20px;
    width: 80%;
    align-items: center;
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: aliceblue;
}

.txt {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 16px;
    text-align: left;
}